# Dependencies
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Sass cache
.sass-cache/

# Misc
*.local
