<footer>
  <div class="container">
    <div class="footer-top">
      <a href="#" class="logo">PicneticAi</a>
      @@if (context.showFooterToggle) {
      <button class="footer-toggle" aria-expanded="false" aria-label="Показать дополнительную информацию">
        <svg class="toggle-icon" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <path d="M5 7.5L10 12.5L15 7.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      }
    </div>

    @@if (context.showFooterToggle) {
    <div class="footer-content hidden">
      }
      <div class="box">
        <p>ООО «ЗДОРОВЬЕ ОНЛАЙН»</p>
        <p>ИНН 7841097681</p>
        <p>1940044, Россия, г. Санкт-Петербург, ул. Рылеева, д. 3, литера А, пом. 7Н, офис 8</p>
      </div>

      <div class="box">
        <h3>Юридическая информация</h3>
        <a href="https://aiavatar.ru/files/rules.pdf">Правила пользования ПК</a>
        <a href="https://aiavatar.ru/files/oferta.pdf">Лицензионный договор</a>
        <a href="https://aiavatar.ru/files/policy.pdf">Политика конфиденциальности</a>
        <a href="#">Отписаться</a>
      </div>

      <div class="box">
        <h3>Свяжитесь с нами</h3>
        <a href="#" class="mail">
          <span class="icon"></span>
          support@aiavatar.ru
        </a>
        <a href="https://mycpa.ru/">Партнерская программа</a>
      </div>
    </div>
  </div>
</footer>