<footer>
  <div class="container">
    <a href="/" class="logo">PicneticAi</a>
    <div class="box"><p>ООО «ЗДОРОВЬЕ ОНЛАЙН»</p>
      <p>ИНН 7841097681</p>
      <p>1940044, Россия, г. Санкт-Петербург, ул. Рылеева, д. 3, литера А, пом. 7Н, офис 8</p></div>

    <div class="box"><h3>Юридическая информация</h3>
      <a href="#">Правила пользования ПК</a>
      <a href="#">Лицензионный договор</a>
      <a href="#">Политика конфиденциальности</a>
      <a href="#">Отписаться</a></div>

    <div class="box">
      <h3>Свяжитесь с нами</h3>
      <a href="#" class="mail">
        <span class="icon"></span>
        support@aiavatar.ru
      </a>
      <a href="#">Партнерская программа</a>
    </div>

  </div>
</footer>
