<section class="slider" aria-label="Слайдер примера">
  <div class="container">
    <div class="swiper js-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="assets/images/slider/slide1.svg" alt="Слайд 1" />
          <div class="slider__caption">Быстрое развёртывание</div>
        </div>
        <div class="swiper-slide">
          <img src="assets/images/slider/slide2.svg" alt="Слайд 2" />
          <div class="slider__caption">Mobile‑first дизайн</div>
        </div>
        <div class="swiper-slide">
          <img src="assets/images/slider/slide3.svg" alt="Слайд 3" />
          <div class="slider__caption">Готово к масштабированию</div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev" aria-label="Предыдущий слайд"></div>
      <div class="swiper-button-next" aria-label="Следующий слайд"></div>
    </div>
  </div>
</section>
